html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif;text-align:center;
margin: 0;
    width: 100vw;
    height: 100vh;
}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color:#000000;}
div#header{background-color:#F3F2ED;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#container{text-align:centre}
div#content p{line-height:1.4;text-align:justify;background-size: auto;}
div#navigation{background:#F6F0E0;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#CCC8B3;}
div#footer{background:#BFBD93;}
div#footer p{margin:0;padding:5px 10px}
div#container{width:700px;margin:0 auto}
div#content{float:left;width:auto}
div#navigation{float:right;width:200px}
div#extra{clear:both;width:100%}
.button {
  background-color: #4CAF50; /* Green */
  border-radius: 12px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  float:left
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
 float:right
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
